[Desktop Entry]
Name=LazyDocker
Exec=lazydock %U
Terminal=true
Type=Application
Icon=/home/breeze256/.local/share/pixmaps/lazydock.png
Categories=System;
Comment=TUI Docker manager
