[Desktop Entry]
Name=LazyDocker
Exec=gtk-launch lazydocker
Type=Application
Icon=/home/breeze256/.local/share/pixmaps/lazydocker.png
Categories=System;
Comment=TUI Docker manager
NoDisplay=false